.nextBtn{
    margin-top: 15px;
    width: 100%;
    height: 36px;
    background-color: #49667F;
    font-size: 13px;
    color: #ffffff;
    font-weight: 600;
}
.priceAmount h4{
    font-size: 15px;
    font-weight: 900;
    color: #fff;
    margin-bottom: 10px;
    margin-top: 0px;
    display: inline;

}

.priceAmount h1 {
    display: inline;
}



#yue h4 {
    font-size: 15px;
    font-weight: 900;
    color: #fff;
    margin-bottom: 10px;
    margin-top: 0px;
    display: inline;
}

#ticketDetail {
    height: 350px;
    padding: 40px 30px 30px 30px;
    text-align: center;
    display: block;
    background-color: rgba(250, 250, 250, 0.3);
}