<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

    <title>Air Corgi 欢迎选乘柯基航空公司航班</title>

    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" href="../static/css/bootstrap.min.css">
    <link rel="stylesheet" th:href="@{/css/bootstrap-theme.min.css}" href="../static/css/bootstrap-theme.min.css">
    <link rel="stylesheet" th:href="@{/css/fontAwesome.css}" href="../static/css/fontAwesome.css">
    <link rel="stylesheet" th:href="@{/css/hero-slider.css}" href="../static/css/hero-slider.css">
    <link rel="stylesheet" th:href="@{/css/owl-carousel.css}" href="../static/css/owl-carousel.css">
    <link rel="stylesheet" th:href="@{/css/datepicker.css}" href="../static/css/datepicker.css">
    <link rel="stylesheet" th:href="@{/css/tooplate-style.css}" href="../static/css/tooplate-style.css">
    <link rel="stylesheet" th:href="@{/css/customize.css}" href="../static/css/customize.css">

    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800" rel="stylesheet">


    <script th:src="@{/js/vendor/modernizr-2.8.3-respond-1.4.2.min.js}" src="../static/js/vendor/modernizr-2.8.3-respond-1.4.2.min.js"></script>
</head>
<body>

<section style="margin-top: 20px">


    <nav class="navbar navbar-default" role="navigation">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">Air Corgi 柯基航空</a>
            </div>
            <div>
                <ul class="nav navbar-nav" style="float: right;">
                    <li class="dropdown" th:if="${userId}!=null">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            <b th:text="${userId}"></b>
                            <b class="caret"></b>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a href="/orderList">订单管理</a></li>
                            <li><a href="/toResetPassword">修改密码</a></li>
                            <li><a href="/logout">退出登录</a></li>
                        </ul>
                    </li>
                    <li><a href="/toLogin" th:if="${userId}==null">登录</a></li>
                    <li>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</li>
                </ul>
            </div>
        </div>
    </nav>


</section>



<section class="banner" id="top">
    <div class="container">
        <div class="row">
            <div class="col-md-5 col-md-offset-1">
                <section id="first-tab-group" class="tabgroup">
                    <div id="tab1">
                        <div class="submit-form">
                            <h4 style="color: red">预订行程</h4>
                            <form id="form-submit" th:action="@{/queryflight}" method="post">
                                <div class="row">
                                    <div class="col-md-6">
                                        <fieldset>
                                            <label>出发/From</label>
                                            <select required oninvalid="setCustomValidity('请选择出发地');" oninput="setCustomValidity('')" name="departure">
                                                <option value="">Select a location...</option>
                                                <option value="CAN">广州/Guangzhou</option>
                                                <option value="PEK">北京/Beijing</option>
                                                <option value="SZX">深圳/Shenzhen</option>
                                                <option value="NNG">南宁/Nanning</option>
                                                <option value="CTU">成都/Chengdu</option>
                                                <option value="WUH">武汉/Wuhan</option>
                                                <option value="HGH">杭州/Hangzhou</option>
                                                <option value="SHA">上海虹桥/Shanghai Hongqiao</option>
                                                <option value="PVG">上海浦东/Shanghai Pudong</option>
                                            </select>
                                        </fieldset>
                                    </div>
                                    <div class="col-md-6">
                                        <fieldset>
                                            <label>到达/To</label>
                                            <select required oninvalid="setCustomValidity('请选择目的地');" oninput="setCustomValidity('')" name="destination">
                                                <option value="">Select a location...</option>
                                                <option value="CAN">广州/Guangzhou</option>
                                                <option value="PEK">北京/Beijing</option>
                                                <option value="SZX">深圳/Shenzhen</option>          
                                                <option value="NNG">南宁/Nanning</option>
                                                <option value="CTU">成都/Chengdu</option>
                                                <option value="WUH">武汉/Wuhan</option>
                                                <option value="HGH">杭州/Hangzhou</option>
                                                <option value="SHA">上海虹桥/Shanghai Hongqiao</option>
                                                <option value="PVG">上海浦东/Shanghai Pudong</option>
                                            </select>
                                        </fieldset>
                                    </div>
                                    <div class="col-md-6">
                                        <fieldset>
                                            <label>出发日期/Departure date</label>
                                            <input name="depDate" type="text" class="form-control date" id="deparure" placeholder="Select date..." required="required" oninvalid="setCustomValidity('请选择出发日期');" oninput="setCustomValidity('')">
                                        </fieldset>
                                    </div>
                                    <div class="col-md-6">
                                        <fieldset>
                                            <label for="return">回程日期/Return date:</label>
                                            <input name="re_date" type="text" class="form-control date" id="return" placeholder="Select date..." >
                                        </fieldset>
                                    </div>
                                    <div class="col-md-offset-6">
                                    <div class="col-md-12">
                                        <fieldset>
                                            <button type="submit" id="submit" class="btn">立即查询</button>
                                        </fieldset>
                                    </div></div>
                                </div>
                            </form>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>
</section>

<div class="ticketlist" id="ticketlist" style="margin-left: 350px;margin-right: 350px;margin-top: 20px;">
    <form th:action="@{/flightDetail}" method="get">
    <table class="table table-striped">
        <caption style="background-color: #49667f;">
            <b th:text="${departureAirport}" style="margin-left: 10px;color: #ffffff">广州白云国际机场</b>
            <b style="margin-left: 10px;color: #ffffff"> - </b>
            <b th:text="${destinationAirport}" style="margin-left: 10px;color: #ffffff">北京首都国际机场</b>
            <b style="margin-left: 20px;color: #ffffff"> 出发日期：</b>
            <b th:text="${selectedDate}" style="color: #ffffff">2019年3月28日</b>
        </caption>
        <thead>
        <tr>
            <th>航班/Flight</th>
            <th>出发/Departure</th>
            <th>到达/Arrival</th>
            <th>选择</th>
        </tr>
        </thead>
        <tbody>
        <label class="radio-inline">
        <tr th:each="queryResult:${queryResult}">
            <td th:text="${queryResult.flightNum}">AC0001</td>
            <td th:text="${queryResult.depTime}">07:00</td>
            <td th:text="${queryResult.arrTime}">10:10</td>
            <td><input type="radio" name="flightOption" id="optionsRadios1" th:value="${queryResult.flightNum}+${queryResult.depDate}"></td>
        </tr>
        </label>
        </tbody>
    </table>
    <div class="col-md-offset-11">
        <button class="nextBtn">下一步</button>
    </div>
    </form>
</div>



<section id="most-visited">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="section-heading">
                    <h2>Most Visited Places</h2>
                </div>
            </div>
            <div class="col-md-12">
                <div id="owl-mostvisited" class="owl-carousel owl-theme">
                    <div class="item col-md-12">
                        <div class="visited-item">
                            <img src="../static/img/place-01.jpg" th:src="@{/img/place-01.jpg}" alt="">
                            <div class="text-content">
                                <h4>River Views</h4>
                                <span>New York</span>
                            </div>
                        </div>
                    </div>
                    <div class="item col-md-12">
                        <div class="visited-item">
                            <img src="../static/img/place-02.jpg" th:src="@{/img/place-02.jpg}" alt="">
                            <div class="text-content">
                                <h4>Lorem ipsum dolor</h4>
                                <span>Tokyo</span>
                            </div>
                        </div>
                    </div>
                    <div class="item col-md-12">
                        <div class="visited-item">
                            <img src="../static/img/place-03.jpg" th:src="@{/img/place-03.jpg}" alt="">
                            <div class="text-content">
                                <h4>Proin dignissim</h4>
                                <span>Paris</span>
                            </div>
                        </div>
                    </div>
                    <div class="item col-md-12">
                        <div class="visited-item">
                            <img src="../static/img/place-04.jpg" th:src="@{/img/place-04.jpg}" alt="">
                            <div class="text-content">
                                <h4>Fusce sed ipsum</h4>
                                <span>Hollywood</span>
                            </div>
                        </div>
                    </div>
                    <div class="item col-md-12">
                        <div class="visited-item">
                            <img src="../static/img/place-02.jpg" th:src="@{/img/place-02.jpg}" alt="">
                            <div class="text-content">
                                <h4>Vivamus egestas</h4>
                                <span>Tokyo</span>
                            </div>
                        </div>
                    </div>
                    <div class="item col-md-12">
                        <div class="visited-item">
                            <img src="../static/img/place-01.jpg" th:src="@{/img/place-01.jpg}" alt="">
                            <div class="text-content">
                                <h4>Aliquam elit metus</h4>
                                <span>New York</span>
                            </div>
                        </div>
                    </div>
                    <div class="item col-md-12">
                        <div class="visited-item">
                            <img src="../static/img/place-03.jpg" th:src="@{/img/place-03.jpg}" alt="">
                            <div class="text-content">
                                <h4>Phasellus pharetra</h4>
                                <span>Paris</span>
                            </div>
                        </div>
                    </div>
                    <div class="item col-md-12">
                        <div class="visited-item">
                            <img src="../static/img/place-04.jpg" th:src="@{/img/place-04.jpg}" alt="">
                            <div class="text-content">
                                <h4>In in quam efficitur</h4>
                                <span>Hollywood</span>
                            </div>
                        </div>
                    </div>
                    <div class="item col-md-12">
                        <div class="visited-item">
                            <img src="../static/img/place-01.jpg" th:src="@{/img/place-01.jpg}" alt="">
                            <div class="text-content">
                                <h4>Sed faucibus odio</h4>
                                <span>NEW YORK</span>
                            </div>
                        </div>
                    </div>
                    <div class="item col-md-12">
                        <div class="visited-item">
                            <img src="../static/img/place-02.jpg" th:src="@{/img/place-02.jpg}" alt="">
                            <div class="text-content">
                                <h4>Donec varius porttitor</h4>
                                <span>Tokyo</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>



<footer>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="primary-button">
                    <a href="#" class="scroll-top">Back To Top</a>
                </div>
            </div>
            <div class="col-md-12">
                <p>Copyright &copy; 2019.Air Corgi Ltd. All rights reserved.</p>
                <p>E-mail : 308867650@qq.com</p>
            </div>
        </div>
    </div>
</footer>


</body>

<script th:src="@{/js/vendor/jquery-1.11.2.min.js}" src="../static/js/vendor/jquery-1.11.2.min.js"></script>

<script th:src="@{/js/vendor/bootstrap.min.js}" src="../static/js/vendor/bootstrap.min.js"></script>

<script th:src="@{/js/datepicker.js}" src="../static/js/datepicker.js"></script>
<script th:src="@{/js/plugins.js}" src="../static/js/plugins.js"></script>
<script th:src="@{/js/main.js}" src="../static/js/main.js"></script>

<script>
    window.onload= function afterSubmit() {
        window.location.href = "#ticketlist";
    }
</script>

</html>