<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hinlok.aircorgi2.mapper.TicketRemainMapper">
  <resultMap id="BaseResultMap" type="com.hinlok.aircorgi2.model.TicketRemain">
    <result column="flight_num" jdbcType="VARCHAR" property="flightNum" />
    <result column="dep_date" jdbcType="DATE" property="depDate" />
    <result column="fclass_remain" jdbcType="INTEGER" property="fclassRemain" />
    <result column="bclass_remain" jdbcType="INTEGER" property="bclassRemain" />
    <result column="eclass_remain" jdbcType="INTEGER" property="eclassRemain" />
  </resultMap>
  <insert id="insert" parameterType="com.hinlok.aircorgi2.model.TicketRemain">
    insert into ticket_remain (flight_num, dep_date, fclass_remain, 
      bclass_remain, eclass_remain)
    values (#{flightNum,jdbcType=VARCHAR}, #{depDate,jdbcType=DATE}, #{fclassRemain,jdbcType=INTEGER}, 
      #{bclassRemain,jdbcType=INTEGER}, #{eclassRemain,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.hinlok.aircorgi2.model.TicketRemain">
    insert into ticket_remain
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="flightNum != null">
        flight_num,
      </if>
      <if test="depDate != null">
        dep_date,
      </if>
      <if test="fclassRemain != null">
        fclass_remain,
      </if>
      <if test="bclassRemain != null">
        bclass_remain,
      </if>
      <if test="eclassRemain != null">
        eclass_remain,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="flightNum != null">
        #{flightNum,jdbcType=VARCHAR},
      </if>
      <if test="depDate != null">
        #{depDate,jdbcType=DATE},
      </if>
      <if test="fclassRemain != null">
        #{fclassRemain,jdbcType=INTEGER},
      </if>
      <if test="bclassRemain != null">
        #{bclassRemain,jdbcType=INTEGER},
      </if>
      <if test="eclassRemain != null">
        #{eclassRemain,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
</mapper>